body {
    margin: 0;

}

h2 { 
    margin: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    width: min(400px, 80%);
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0 #000a ;
    position: relative;

}

.card_author {
    font-size: 30px;
}
.card_quote {
    font-size: 20px;
}

.card_btn {
    display: block;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 20px;
    position: relative;
    left: 100%;
    transform: translate(-100%);
    cursor: pointer;
    box-shadow: 1px 1px 5px 0 #000a ;
}

.card_btn:active{
    box-shadow: 0 0 0 0 #000a ;
    transition: box-shadow 200ms ease;
}